/* Screen Dimensions*/
$screen-xxs: 320px;
$screen-xxs-min: $screen-xxs;
$screen-xxs-phone: $screen-xxs-min;

$screen-xs: 375px;
$screen-xs-min: $screen-xs;
$screen-xs-phone: $screen-xs-min;

$screen-sm: 576px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;

$screen-md: 768px;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;

$screen-lg: 992px;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;

$screen-xl: 1200px;
$screen-xl-min: $screen-xl;
$screen-xl-desktop: $screen-xl-min;

$screen-xxl: 1440px;
$screen-xxl-min: $screen-xxl;
$screen-xxl-desktop: $screen-xxl-min;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

$screen-xxs-phone-max: ($screen-xs-min - 1);
$screen-xs-phone-max: ($screen-sm-min - 1);
$screen-tablet-max: ($screen-md-min - 1);
$screen-desktop-max: ($screen-lg-min - 1);
$screen-lg-desktop-max: ($screen-xl-min - 1);
$screen-xl-desktop-max: ($screen-xxl-min - 1);