$font-family-main: 'MuseoSans';

// Defined Colors
$white: #fff;
$black: #000;
$red: #ff0000;
$header-red: #591014;
$tk-color-black: #232b38;
$tk-top-color-black: #2B3947;
$tk-top-color-blue: #181c23;
$tk-color-periwinkle: #c3cbd7;

// Gray Pallets
$gray-50:#FFFFFF;
$gray-80:#808080;
$gray-90:#F9F9F9;
$gray-95:#d5d8dc;
$gray-100:#E3E3E4;
$gray-150:#EDEDED;
$gray-250:#c5c5c5;
$gray-200:#C9C9C9;
$gray-300:#AFAFAF;
$gray-350:#647286;
$gray-400:#949495;
$gray-500:#7A7A7B;
$gray-600:#626263;
$gray-700:#49494A;
$gray-800:#313131;
$gray-900:#212427;
$gray-950:#999;

// Primary Pallets
$primary-50: #FCE6E7;
$primary-100: #F7B9BD;
$primary-200: #F28D92;
$primary-300: #ED6068;
$primary-400: #E8333E;
$primary-480: #e81932;
$primary-500: #E30613;
$primary-550: #E31A23;
$primary-600: #C70511;
$primary-650: #C90019;
$primary-700: #AA050E;
$primary-750: #C60B11;
$primary-800: #8E040C;
$primary-900: #72030A;
$primary-950: #E306131A;

// Secondary Pallets
$secondary-50: #F2F3F5;
$secondary-100: #DADEE3;
$secondary-150: #DDDEE2;
$secondary-200: #C1C8D1;
$secondary-300: #AFAFAF;
$secondary-400: #919DAC;
$secondary-500: #79889A;
$secondary-600: #607083;
$secondary-700: #49586A;
$secondary-800: #34404F;
$secondary-900: #1F2833;

// Destructive Pallets
$destructive-50: #E6F3FF;
$destructive-100: #B8DEFF;
$destructive-200: #8ACAFF;
$destructive-300: #5FB6FF;
$destructive-360: #3685e7;
$destructive-400: #43A2FF;
$destructive-500: #2E8FFD;
$destructive-550: #008CFF;
$destructive-600: #1175D2;
$destructive-700: #005BA6;
$destructive-800: #004279;
$destructive-900: #00294D;
$destructive-950: #0A2351;

// Affirmative Pallets
$affirmative-50: #E8FEEF;
$affirmative-100: #C3FAD2;
$affirmative-200: #A1F2B8;
$affirmative-300: #83E59F;
$affirmative-400: #69D587;
$affirmative-500: #53C172;
$affirmative-600: #39AB59;
$affirmative-700: #248F42;
$affirmative-800: #146F2E;
$affirmative-900: #084A1B;

// Declarative Pallets
$declarative-50: #FFF9E6;
$declarative-100: #FFEDB8;
$declarative-200: #FFDF8A;
$declarative-300: #FACE63;
$declarative-400: #EBBA45;
$declarative-500: #D6A42D;
$declarative-600: #C28E14;
$declarative-700: #A67602;
$declarative-800: #795A00;
$declarative-900: #4D3C00;

// Business Pallets
$business-50: #FDF0E9;
$business-100: #F7D5C4;
$business-200: #EDBBA3;
$business-300: #E0A385;
$business-400: #CF8C6B;
$business-500: #BA7655;
$business-600: #A45E3C;
$business-700: #894727;
$business-800: #6A3216;
$business-900: #471E0A;

// Informative Pallets
$informative-50: #FEFDFE;
$informative-100: #E3DBF2;
$informative-200: #C9BCE4;
$informative-300: #B2A6CB;
$informative-400: #949495;
$informative-500: #806CA9;
$informative-600: #64508D;
$informative-700: #4A386F;
$informative-800: #30224D;
$informative-900: #181028;

// Alternative Pallets
$alternative-50: #E8FAFE;
$alternative-100: #C0EEF8;
$alternative-200: #9DE0EF;
$alternative-300: #7ED0E2;
$alternative-400: #63BDD0;
$alternative-500: #4CA7BB;
$alternative-600: #3391A6;
$alternative-700: #1F788C;
$alternative-800: #105C6D;
$alternative-900: #063D49;
